-const trendingMovies=["Zombieland 2", "EndGame", "Spiderman: Far from home."]
-const userRecentSpoils=["John Wick: Chapter 3 Parabellum", "Adams Family", "Joker"]
-const recommendMovies=["Zombieland 2", "Gemini Man","Rambo: Last Blood"]

aside#theSpoils.wrapper
    #navbar.pbWrapper
        .navIcons
            a(href="/profile")
                button(
                    id="goProfile"
                )
                    i.fas.fa-user-circle
                    p Profile
        .navIcons
            a(href="/logout")      
                button(
                    id="logOutButton"
                )         
                    i.far.fa-share-square
                    p Log Out
    #hot
        .asideHeader.fire
            i.fas.fa-fire-alt.fire 
            h3.fire Whats Hot!
        ol 
            each trendingMovie in trendingMovies
                li=trendingMovie
    #userSpoilsBar
        .asideHeader.mySpoils
            i.far.fa-comments
            h3.mySpoils Your Spoils!
        ol
            each userRecentSpoil in userRecentSpoils
                li=userRecentSpoil
    #recommends
        .asideHeader.aside3
            i.far.fa-thumbs-up
            h3.aside3 Check Out These Movies!
        ol
            each recommendMovie in recommendMovies
                li=recommendMovie