-const name="Whisky Wolf"
-const top10Movies=["Die Hard", "Zootopia", "Mad Max", "Total Recall", "John Wick"];
-const bottom10Movies=["Doom","The Gray", "A Man with a Camera", "Daybreak", "Spaceballs"]
-const trendingMovies=["Zombieland 2", "EndGame", "Spiderman: Far from home."]
-const userRecentSpoils=["John Wick: Chapter 3 Parabellum", "Adams Family", "Joker"]
-const recommendMovies=["Zombieland 2", "Gemini Man","Rambo: Last Blood"]

#userProfile
    .contentWrapper
        #userWrapper
            #nameBlock
                img(src="../includes/11_indianna_jones.png" alt="Profile image")
                h2 #{name}
            #top10
                h3 My Top 10 Movies
                ol
                    each top10Movie in top10Movies
                        li=top10Movie
            #bottom10
                h3 My Least Favorite Movies!
                ol
                    each bottom10Movie in bottom10Movies
                        li=bottom10Movie
        aside#theSpoils
            #hot
                h3 Whats Hot!
                ol 
                    each trendingMovie in trendingMovies
                        li=trendingMovie
            #recentToUser
                h3 Your Spoils!
                ol
                    each userRecentSpoil in userRecentSpoils
                        li=userRecentSpoil
            #recommends
                h3 Check Out These Movies!
                ol
                    each recommendMovie in recommendMovies
                        li=recommendMovie

