
#movieInfo.wrapper
    img(class="poster" src=movieInfo.Poster)
    <h4>Rate It!
    select
        option(value="1") 1 Hate it!
        option(value="2") 2
        option(value="3") 3
        option(value="4") 4
        option(value="5") 5
        option(value="6") 6
        option(value="7") 7
        option(value="8") 8
        option(value="9") 9
        option(value="10") 10 Love It
    submit(
        class="submitRating"
        id="submitUserRating"
    ) submit  
    .movieDetails
        ul
            li Title: #{movieInfo.Title}
            li Year: #{movieInfo.Year}
            li Staring: #{movieInfo.Actors}
            li Directed by: #{movieInfo.Director}
            li Rated: #{movieInfo.Rated}
            li #{movieInfo.Plot}
            li Awards #{movieInfo.Awards}
#discussion
    #discussionBlock
        h2 #{spoilsInfo.name}    
        #commentBlock
            if spoilsInfo.Posts
                each post in spoilsInfo.Posts
                    #post
                        div(
                            class="talk"
                            id="post-"+post.id
                        ) #{post.content}
                        #authorBar
                            #editBlock        
                                button(
                                        class="ibtn edit"
                                        data-postId=""+post.id
                                )
                                    i.fas.fa-edit  Edit
                                button(
                                        class="ibtn delete"
                                        data-postId=post.id)
                                    i.fas.fa-trash-alt  Delete
                            #author #{post.User.username}
            #inputform
                form#spoilsForm
                    label Spoil Here!
                    textarea(id="newpost", name="newpost", data-id=spoilsInfo.id data-user=user.id cols="75", rows="5")
                    button#postButton.ibtn
                        i.fas.fa-stamp  Post!
            #editform
                form#spoilsForm
                    label Spoil Here!
                    textarea(id="editedpost", name="editedpost", data-id=spoilsInfo.id data-user=user.id cols="75", rows="5")
                    button#postButtonE.ibtn
                        i.fas.fa-stamp  Post!
            #replyBar    
                button#reply.ibtn
                    i.far.fa-comment  Spoil!
script(src='/assets/js/spoils.js')