-const authorName="Whisky Wolf"
-const talk="In the end of the movie John gets a new, bigger doggo! And that Dog does not die! It is still alive at the end of John Wick 3!"

#discussion
    #discussionBlock
        h2 #{spoilsInfo.name}    
        #commentBlock
            .talk #{talk}                            
                #authorBar
                    h3#author #{authorName}
            #replyBar    
                button#reply.ibtn
                    i.far.fa-comment  Reply
                button#edit.ibtn
                    i.fas.fa-edit  Edit
                button#delete.ibtn
                    i.fas.fa-trash-alt  Delete
            #inputform
                form#newpost
                    label Spoil Here!
                    textarea(id="newpost", name="newpost", cols="75", rows="5")
                    button#postButton Post!
#movieInfo.wrapper

    ul
        li Title: #{movieInfo.Title}
        li Year: #{movieInfo.Year}
        li Staring: #{movieInfo.Actors}
        
