-const authorName="Whisky Wolf"
-const talk="In the end of the movie John gets a new, bigger doggo! And that Dog does not die! It is still alive at the end of John Wick 3!"

#movieInfo.wrapper
    img(src=movieInfo.Poster)
    ul
        li Title: #{movieInfo.Title}
        li Year: #{movieInfo.Year}
        li Staring: #{movieInfo.Actors}
        li Directed by: #{movieInfo.Director}
        li Rated: #{movieInfo.Rated}
        li #{movieInfo.Plot}
        li Awards #{movieInfo.Awards}
#discussion
    #discussionBlock
        h2 #{spoilsInfo.name}    
        #commentBlock
            if spoilsInfo.Posts
                each post in spoilsInfo.Posts
                    .talk #{post.content}
                        #authorBar
                            #editBlock        
                                button(
                                        id="edit"
                                        class="ibtn"
                                        "data-postId"
                                )
                                    i.fas.fa-edit  Edit
                                button(
                                        id="delete"
                                        class="ibtn"
                                        "data-postId")
                                    i.fas.fa-trash-alt  Delete
                            #author #{post.User.username}
            #inputform
                form#spoilsForm
                    label Spoil Here!
                    textarea(id="newpost", name="newpost", data-id=spoilsInfo.id data-user=user.id cols="75", rows="5")
                    button#postButton.ibtn
                        i.fas.fa-stamp  Post!
            #replyBar    
                button#reply.ibtn
                    i.far.fa-comment  Spoil!
script(src='/assets/js/spoils.js')
