-const year="2014"
-const actors=["Keanue Reeves","Ian McShane"]
-const authorName="Whisky Wolf"
-const talk="In the end of the movie John gets a new, bigger doggo! And that Dog does not die! It is still alive at the end of John Wick 3!"

#discussion
    h2 #{spoilsInfo.name}    
    #discussionBlock
        #commentBlock
            #talk #{talk}
            #talkBar
                #talkWrapper
                    #authorBar
                        img(src="/includes/11_indianna_jones.png" alt="Profile image")
                        #author #{authorName}
                    #replyBar    
                        button#reply.ibtn
                            i.far.fa-comment  Reply
                        button#update.ibtn
                            i.fas.fa-edit  Update
                        button#delete.ibtn
                            i.fas.fa-trash-alt  Delete
#movieInfo.wrapper

    ul
        li Title: #{movieInfo.Title}
        li Year: #{movieInfo.Year}
        li Staring: #{movieInfo.Actors}
        
