extends layout.pug

block content
    section#content
        .loginBox.wrapper
            h2 Welcome Back!
            p Please Remember
            p#goldenrule "Be Excellent To Each Other"
            form#loginForm
                h3 Login
                input(
                    type="text"
                    name="username"
                    id="username"
                    label="Username"
                )
                input(
                    type="password"
                    name="password"
                    id="password"
                    label="Password"
                )
                button#loginSubmit.subBtn
                    i.fas.fa-hands-helping  Login
    script(src='/assets/js/login.js')