extends layout.pug

block content
    section#content
        .loginBox.wrapper
            h2 Welcome to Spoiler Alert!
            p A place to talk about your favorite movies without fear of spoiling it for your friends!
             p By creating an account you agree to our terms and conditions
            form#loginForm
                h3 Create your Account!
                input(
                    type="text"
                    name="username"
                    id="username"
                    label="Username"
                )
                input(
                    type="password"
                    name="password"
                    id="password"
                    label="Password"
                )
                button#joinSubmit.subBtn
                    i.fas.fa-hands-helping  Sign Up!
    script(src='/assets/js/register.js')